/checkpoints/
/data/cifar-10-batches-py/

__pycache__/
/.vscode/

testing_playground.ipynb
/results/
/data/
*.ipynb_checkpoints

/experiments/sulis/
/experiments/justfile

/unknown_files/
/bit_histograms/

*.pth
